{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link
        rel="icon"
        type="image/svg"
        sizes="32x32"
        href="{% static '/studyapp/imgs/logo.svg' %}"/>

        <title>{% block title %}{% endblock %}Study Stats</title>

        <link rel="stylesheet" href="{% static '/studyapp/vendors/themify-icons/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static '/studyapp/vendors/fontawesome-free-6.5.2-web/css/all.css' %}">
        
        <link rel="stylesheet" href="{% static 'studyapp/css/studyspace.css' %}">
        <link rel="stylesheet" href="{% static 'studyapp/css/home.css' %}">
        <link rel="stylesheet" href="{% static 'studyapp/css/community.css' %}">

        <style>
            .messages {
                overflow-y: auto;
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body>
        
        <nav class="sidebar" data-spy="affix" data-offset-top="205">
            <div class="sidebar-brand">
                <img src="{% static '/studyapp/imgs/logo.svg' %}" alt="" class="logo-img">
            </div> 
    
            <div>
                    <ul class="sidebar-nav">
                        <li class="nav-item">
                            <a href="{% url 'home' %}">
                                <div class="sidebar-icons">
                                    <i class="ti-video-camera"></i>
                                </div>
                                <p class="sidebar-text">Study Rooms</p>
                            </a>
                        </li>
    
                        <li class="nav-item">
                            <a href="{% url 'solospace' %}">
                                <div class="sidebar-icons">
                                    <i class="ti-blackboard"></i>
                                </div>
                                <p class="sidebar-text">Solo Space</p>
                            </a>
                        </li>
    
                        <li class="nav-item">
                            <a href="{% url 'tasks' %}">
                                <div class="sidebar-icons">
                                    <i class="ti-pencil-alt"></i>
                                </div>
                                <p class="sidebar-text">Study Goals</p>
                            </a>
                        </li>
    
                        <li class="nav-item">
                            <a href="{% url 'deck_list' %}">
                                <div class="sidebar-icons">
                                    <i class="ti-layers-alt"></i>
                                </div>
                                <p class="sidebar-text">Flashcards</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'rooms' %}">
                                <div class="sidebar-icons">
                                    <i class="ti-comments"></i>
                                </div>
                                <p class="sidebar-text">Community</p>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="{% url 'stats' %}">
                                <div class="sidebar-icons">
                                    <i class="ti-stats-up"></i>
                                </div>
                                <p class="sidebar-text">Study Stats</p>
                            </a>
                        </li>

                    </ul>
            </div>
            
        </nav>

        <nav class="home-header fixed-top pt-2 pb-0">
            <div class="row">     
                <div class="col-10">
                    <!--Space-->
                    
                </div>
                   
                <div class="col">
                    <div class="row">
                                              
                        <div class="col">
                            <a href="{% url 'logout' %}">
                                <button class="btn btn-primary rounded">
                                        <i class="fa-solid fa-reply" aria-hidden="true"></i> 
                                    Log Out
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        
    </nav>
    <main>
        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </main>
    </body>
</html>