{% extends 'flashcard/base.html' %}
{% load static %}
{% block content %}

  <h1>{{ deck.name }}</h1>
<div class="Qlist">
  <div class="row">
    <div class="col-8">
        <a href="{% url 'create_card' deck.id %}" class="btn btn-primary rounded"><i class="fa-solid fa-plus"></i>Add Question</a>
    </div>
    
    <div class="col">
        <a href="{% url 'review_deck' deck.id %}" class="btn btn-primary rounded">Start reviewing</a>
    </div>
  </div>
  
  <ol>
    {% for card in deck.cards.all %}
      <li class="questions" style="width: 30rem;">
        <div class="row" >
            <div class="col-9">
                <p class="card-title">{{ card.question }}</p>
            </div>
            
            <div class="col">
                <form action="{% url 'delete_card' deck.id card.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary rounded"><i class="fa-solid fa-trash-can"></i></button>
                  </form>
            </div>
        </div>
      </li>
    {% endfor %}
  </ol>
</div>
{% endblock %}
